@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .primary-btn {
    @apply w-full bg-rose-400 text-white  font-medium  rounded-md text-center hover:bg-rose-500 transition-colors disabled:bg-gray-300;
  }
}
